#nav_brand_custom {
    font-weight: 800;
    font-size: 1.5rem;
    background-color: var(--dark-color);
    padding: 0.5rem;
    color: var(--white-color);
    border-radius: 0.5rem;
}

#nav_brand_icon_custom {
    width: 1.5rem !important;
}

.nav_item_custom, #btn_login {
    font-weight: 800;
    color: var(--accent-color);
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent !important;
    border-radius: 5rem;
}

.nav_item_custom {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border: solid transparent 0.2rem !important;
}

#btn_login {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: solid var(--accent-color) 0.2rem !important;
}

.nav_item_custom:hover, #btn_login:hover {
    color: var(--white-color);
}

.nav_item_custom:hover {
    background-color: #d63485cb !important;
}

#btn_login:hover {
    background-color: var(--accent-color) !important;
}

.nav_item_custom:active, #btn_login:active  {
    background-color: var(--secondary-color) !important;
}

#btn_login:active {
    border: solid var(--secondary-color) 0.2rem !important;
}
